body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #eee;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
}

.sidebar {
    width: 230px;
    background-color: #2e2e2e;
    color: white;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    text-align: center;
}

.sidebar-logo {
    width: 120px;
    height: auto;
    margin: 0 auto 15px auto;
    border-radius: 8px;
    display: block;
    margin-bottom: 50px;
}

.sidebar h2 {
    margin-bottom: 30px;
    font-size: 22px;
    color: #f8f8f8;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: #ddd;
    text-decoration: none;
    display: block;
    padding: 8px;
    border-radius: 6px;
    transition: 0.2s;
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
    background-color: #575757;
    color: #fff;
}

.main {
    margin-left: 260px;
    padding: 30px;
    width: calc(100% - 260px);
}

header {
    text-align: center;
    margin-bottom: 30px;
}

.cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    flex: 1;
    min-width: 300px;
    padding: 20px;
}

.card h3 {
    margin: 0 0 10px;
    font-size: 18px;
}

.card p {
    font-size: 22px;
    font-weight: bold;
}

.card ul {
    list-style: none;
    padding: 0;
}

.card ul li {
    font-size: 15px;
    margin: 5px 0;
}

.orders {
    margin-top: 40px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.orders table {
    width: 100%;
    border-collapse: collapse;
}

.orders th, .orders td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.orders th {
    background-color: #f3f3f3;
}

.orders tr:hover {
    background-color: #f9f9f9;
}
