/* General Layout */
body {
    font-family: 'Quicksand', sans-serif;
    background-color: #88642fce; /* Light brown background */
    color: #3e2b1f; /* Dark brown text */
    margin: 0;
    padding: 20px;
}

/* Headings */
h3 {
    color: #3e2b1f; /* Dark brown for headings */
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 20px;
}

/* Sales Summary */
.dashboard-summary {
    text-align: center;
    margin-bottom: 20px;
}

.dashboard-summary h3 {
    font-size: 2rem;
    color: #ffffff; /* Dark brown */
}

/* Summary Box */
.summary-box {
    width: 30%;
    padding: 20px;
    border: 2px solid #3e2b1f; /* Dark brown border */
    border-radius: 8px;
    background-color: #d1b29a; /* Light brown background */
    text-align: center;
    margin: 0 10px;
    box-sizing: border-box;
}

.summary-box h4 {
    margin: 0;
    font-size: 1.2rem;
    color: #3e2b1f;
}

.summary-box p {
    font-size: 1.1rem;
    margin: 10px 0 0;
    color: #3e2b1f;
}

/* Layout for Sales Summary boxes */
.dashboard-summary .summary-box {
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
}


.dashboard-link {
    text-align: center;
    margin-top: 20px;
}

.dashboard-link a {
    padding: 12px 25px;
    color: white;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    text-align: center;
   
}
.dashboard-link a:hover {
    background-color: #2d1f15; /* Darker brown on hover */
}


.chart-container {
    width: 30%;
    margin: 20px auto;
    padding: 15px;
    background-color: #f4e1d2; /* Light beige background */
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: inline-block;
    
}

.chart-container h3 {
    color: #3e2b1f;
    text-align: center;
    font-size: 1.2rem;
}


canvas {
    width: 100% !important;
    height: 200px !important; /* Smaller charts */
}



