

body {
    font-family: 'Quicksand', sans-serif;
    background-color: #f4f1e1; 
    color: #4b3a29; 
    text-align: center;
}

h1 {
    color: #3e2a1f; 
    font-size: 2.5rem;
    text-align: left;
    margin-left: 10px;
}

a {
    text-decoration: none;
    color: #fff;
    
}


.btn {
  
    font-size: 1rem;
    transition: background-color 0.3s ease;
    background-color: #5b3d28;
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    top: 20px;
    right: 20px;
    margin-right: 10px;  
    margin-top: 73px;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #6f4f37; /* Dark brown header */
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f9f3e7; /* Light brown for alternating rows */
}

tr:hover {
    background-color: #e8dbbe; /* Slight hover effect */
}

form {
    margin: 20px 0;
}

input[type="text"], input[type="date"] {
    padding: 8px;
    border: 1px solid #c4a79b; 
    border-radius: 4px;
    background-color: #fff;
    color: #4b3a29; 
    margin-left:10px;
    margin-top: -20px;
}

button {
    padding: 8px 12px;
    background-color: #6f4f37; /* Dark brown */
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: -20px;
}

button:hover {
    background-color: #5b3d28; /* Darker brown on hover */
}



.dashboard {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.card {
    padding: 20px;
    background-color: #f4f1e1; /* Light brown background */
    border-radius: 8px;
}

.card h3 {
    color: #3e2a1f;
    margin-bottom: 15px;
}
